@import "tailwindcss";
@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Supreme-Variable.ttf');
}

@font-face {
  font-family: 'MyFont-Italic';
  src: url('./assets/fonts/Supreme-VariableItalic.ttf');
}

#root {
  text-align: center;
  width: 100%;
  font-family: 'MyFont';
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#app 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header nav a
{
  color: #fff;
  font-size: 1.5rem;
}

#home
{
  padding: 0% 15%;
}

#home p
{
  font-size: 1.2rem;
}

#home h1 
{
  width: 100%;
  font-size: 5rem;
  font-weight: 700; 
}

#home h1.header2-home
{
  background: linear-gradient(to bottom, #a78bfa, #7c3aed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

#home p 
{
  width: 60%;
  font-size: 1.4rem;
  margin-top: 2%;
}

.servicios .card-cartel
{
  width: 47.5%;
  margin-top: 3%;
}


.servicios .card-redes
{
  width: 47.5%;
  margin-top: 3%;
}

.servicios .card-web
{
  width: 100%;
  margin-top: 5%;
}

.servicios .card
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fff; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.servicios .card h3
{
  font-size: 1.7rem;
}

.servicios .cards
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0% 5%;
}

.servicios .card h3
{
  text-align: start;
}
.servicios .card p
{
  width: 100%;
  text-align: start;
}

.servicios .cards p
{
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.servicios .first-p
{
  font-weight: bold;
  font-size: 1.3rem;
}

.servicios .final-p
{
  font-family: 'MyFont-Italic';
}

.formulario-contacto form 
{
  display: flex;
  flex-direction: column;
  
}