@import "tailwindcss";
@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/Supreme-Variable.ttf');
}

@font-face {
  font-family: 'MyFont-Italic';
  src: url('./assets/fonts/Supreme-VariableItalic.ttf');
}

#root {
  text-align: center;
  width: 100%;
  font-family: 'MyFont';
}

header{
  padding: 3% 0%;
  margin-top: 1.5%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#app 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header nav a
{
  color: #fff;
  font-size: 1.5rem;
}

#home
{
  /* padding: 6% 15%; */
  margin-bottom: 0%;
  padding-top: 2%;
}

#home p
{
  font-size: 1.2rem;
}

#home h1 {
  width: 100%;
  font-size: 7rem;
  font-weight: bolder;
  line-height: 1.1;
  text-align: center;
}

#home h1.header2-home {
  background: linear-gradient(to bottom, #a78bfa, #7c3aed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}


#home p 
{
  width: 60%;
  font-size: 1.4rem;
  margin-top: 2%;
}

.servicios .card-cartel
{
  width: 47.5%;
  margin-top: 3%;
}


.servicios .card-redes
{
  width: 47.5%;
  margin-top: 3%;
}

.servicios .card-web
{
  width: 100%;
  margin-top: 5%;
}

.servicios .card
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fff; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.servicios .card h3
{
  font-size: 1.7rem;
}

.servicios .cards
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0% 5%;
}

.servicios .card h3
{
  text-align: start;
}
.servicios .card p
{
  width: 100%;
  text-align: start;
}

.servicios .cards p
{
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.servicios .first-p
{
  font-weight: bold;
  font-size: 1.3rem;
}

.servicios .final-p
{
  font-family: 'MyFont-Italic';
}

.formulario-contacto form 
{
  display: flex;
  flex-direction: column;
}

.soluciones-digitales{
  display: inline-flex; /* IMPORTANTE si quieres que se ajuste al contenido */
  gap: 3%;
  width: fit-content;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 25px;
  padding: .5% 1%;
  background-color: rgba(255, 255, 255, .03);
  white-space: nowrap;
}

.contenedor-soluciones-digitales
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 0%;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(77, 54, 208, 1) 0%,
    rgba(132, 116, 254, 1) 100%
  );
  border: none;
  letter-spacing: 0.05em;
  border-radius: 20em;
  gap: 10px;
  transition: all ease-out .2s;

}

.cssbuttons-io-button.btn-2 {
  background: rgba(255, 255, 255, .07) !important; 
  border: 1px solid rgb(255, 255, 255, .2) !important;
}


.cssbuttons-io-button:hover {
  transform: scale(1.05);
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

.btns{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 2%;
  
}

.soluciones-digitales svg 
{
  color: #8b52ee;
}

.encabezado-nuestros-servicios, .title-proyectos {
  font-weight: bold;
}

.encabezado-nuestros-servicios span, .title-proyectos span
{
  color: #7c3aed;
}

.encabezado-nuestros-servicios
{
  margin-top: 5%;
}


.card-servicio {
  text-align: start;
  border: 1px solid rgba(255, 255, 255, .15);
  padding: 5%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .03);
  transition: all .3s ease;
}

.card-servicio:hover {
  background-color: rgba(255, 255, 255, .07);
  transform: scale(1.05);
}

.grid-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 🔹 3 columnas exactas */
  gap: 3%;
  padding: 3% 5%;
}

.icon-card-servicio{
  background: linear-gradient(135deg, #a78bfa 0%, #7c3aed 100%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 2%;
}

h3.card-header{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2%;
}

p.card-description{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, .7);
  margin-bottom: 2%;
}

.card-servicio li {
  list-style: disc;
  margin-left: 1rem;
  font-size: 1.2rem;
  
}

.card-servicio li::marker {
  color: #a78bfa; /* color del punto o número */
  font-size: 1.2em; /* opcional */
}


.contenedor-nuestros-proyectos {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.contenedor-nuestros-proyectos .card-proyecto {
  width: 30%;
  border-radius: 20px !important;
  border: 1px solid rgba(255, 255, 255, .15);
}

.h2-proyecto {
  font-size: 2rem;
  text-align: start;
  margin-bottom: 1%;
}

.contenido-card-proyecto {
  padding: 3% 5%;
}

.categorias-proyectos {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100% !important;
  font-size: 1.3rem;
  margin-bottom: 1%;
  color: #7c3aed;
}

.descripcion-proyecto {
  text-align: start;
}

.contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto {
  width: 50%;
  background-color: rgba(255, 255, 255, .07);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, .15);
  padding: 3%;
  border-radius: 20px;
}

.contenedor-listos {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.listos-empezar {
  display: inline-flex;      /* Se ajusta al contenido */
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: max-content;        /* Alternativa más robusta a fit-content */
  white-space: nowrap;       /* Evita saltos de línea */

  border: 1px solid #8b52ee80;
  border-radius: 25px;
  padding: .4rem 1rem;
  background-color: #8b52ee30;
  color: #8b52ee;
}

.contacto h1 {
  font-weight: bold;
  margin-top: 4%;
  width: 70%;
}

.contacto h1 span {
  color: #7c3aed;
}

.contacto-message {
  color: #ffffff80;
  font-size: 1.2rem;
  width: 80%;
  margin-top: 4%;
}

.contacto .botones {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 2%;
  
}

.formas-contacto .iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  color: #7c3aed;
  margin-bottom: 5%;
}

.formas-contacto {
  margin-top: 6%;
  border-top: 1px solid #ffffff30;
  width: 92%;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.div-forma-contacto {
  width: 30%;
}

.texto-forma-pago {
  font-size: 1.3rem;
}

#nuestros-servicios, .contenedor-proyectos
{
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}

a:hover 
{
  color: #8b52ee;
}
/* <main-style> ============================ */
.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #8b52ee;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}


@media screen and (max-width: 1320px) {

  #home h1 {
    font-size: 6rem;
  }

}

@media screen and (max-width: 1170px) {

  #home h1 {
    font-size: 5rem;
  }

}

@media screen and (max-width: 960px) {

  #home h1 {
    font-size: 4.5rem;
  }

}

@media screen and (max-width: 860px) {

  #home h1 {
    font-size: 4rem;
  }

}

@media screen and (max-width: 780px) {
  #home {
    padding: 0% 7%;
  }
  
}

@media screen and (max-width: 780px) {
  #home h1{
    font-size: 3.5rem;
  }

  #home {
    padding-top: 3%;
  }

  .contenedor-soluciones-digitales {
    margin-top: 15% !important;
  }
}

@media screen and (max-width: 622px) {
  #home h1{
    font-size: 3.1rem;
  }
}


@media screen and (max-width: 1200px) {
  #home p {
    width: 70%;
  }
}

@media screen and (max-width: 962px) {
  #home p {
    width: 80%;
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 785px) {
  #home p {
    width: 100%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 675px) {
  #home p {
    width: 100%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 900px) {
  .btns button {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 785px) {

  .btns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 5%;
  }

  .btns button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 640px) {

  .btns button {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 1300px) {
  #home{
    margin-top: 1%;
    margin-bottom: 10%;
  }

  #home p, #home .btns {
    margin-top: 3%;
  }

  .contenedor-soluciones-digitales {
    margin-top: 10%;
  }
}